<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>132689419011-nu7v0udb6i3pq1utg53kmq3irg7t0pnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132689419011-nu7v0udb6i3pq1utg53kmq3irg7t0pnc</string>
	<key>API_KEY</key>
	<string>AIzaSyAbpr-u9MCFElhE8Yb-3oVZLYThvqZ5mag</string>
	<key>GCM_SENDER_ID</key>
	<string>132689419011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hand.MyGrocery</string>
	<key>PROJECT_ID</key>
	<string>mygrocery-9d251</string>
	<key>STORAGE_BUCKET</key>
	<string>mygrocery-9d251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:132689419011:ios:885d970cd88ba2f5</string>
	<key>DATABASE_URL</key>
	<string>https://mygrocery-9d251.firebaseio.com</string>
</dict>
</plist>